Repository jmcdo29/nest-commander: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext ts

.lintstagedrc:

{
  "*.ts": [
    "prettier --write",
    "eslint --ext ts"
  ],
  "*.{md,html,json,js}": [
    "prettier --write"
  ]
}

chore: bump to version 1.1.0
  packages/nest-commander-testing/package.json
  packages/nest-commander/package.json
Due: prettier --write

chore: add changesets to manage package release
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: creates scheamtics for nest-commander in new package
  packages/nest-commander-schematics/README.md
  packages/nest-commander-schematics/jest.config.js
  packages/nest-commander-schematics/package.json
  packages/nest-commander-schematics/scripts/postbuild
  packages/nest-commander-schematics/src/collection.json
  packages/nest-commander-schematics/src/command/command-options.interface.ts
  packages/nest-commander-schematics/src/command/files/with-questions/__name@dasherize__.command.ts.template
  packages/nest-commander-schematics/src/command/files/without-questions/__name@dasherize__.command.ts.template
  packages/nest-commander-schematics/src/command/index.ts
  packages/nest-commander-schematics/src/command/schema.json
  packages/nest-commander-schematics/src/question/files/__name@dasherize__.questions.ts.template
  packages/nest-commander-schematics/src/question/index.ts
  packages/nest-commander-schematics/src/question/question-options.interface.ts
  packages/nest-commander-schematics/src/question/schema.json
  packages/nest-commander-schematics/tsconfig.build.json
  pnpm-lock.yaml
Due: prettier --write, eslint --ext ts

chore: add names to integration packages
  integration/basic/package.json
  integration/multiple/package.json
  integration/pizza/package.json
  integration/this-command/package.json
  integration/this-handler/package.json
  integration/with-questions/package.json
Due: prettier --write

chore: set up version properly for changeset
  packages/nest-commander-schematics/package.json
Due: prettier --write

chore: set up changeset for schematic release
  .changeset/weak-rivers-hear.md
Due: prettier --write

ci: add CI actions for automated release
  .github/workflows/release.yml
  package.json
Due: prettier --write

fix: remove duplication of code and make schematics class based
  packages/nest-commander-schematics/package.json
  packages/nest-commander-schematics/src/command/command-options.interface.ts
  packages/nest-commander-schematics/src/command/index.ts
  packages/nest-commander-schematics/src/common/common-options.interface.ts
  packages/nest-commander-schematics/src/common/index.ts
  packages/nest-commander-schematics/src/question/index.ts
  packages/nest-commander-schematics/src/question/question-options.interface.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --ext ts

ci: fix branch to run release om
  .github/workflows/release.yml
Due: none

ci: disable husky hooks in ci
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: fix release script to use publish instead of release
  package.json
Due: prettier --write

chore: re-enable pnpm pre-post scripts
  .npmrc
  packages/nest-commander-schematics/package.json
Due: prettier --write

feat: add in error handler option for thrown errors at commander level
  packages/nest-commander/src/command-factory.interface.ts
  packages/nest-commander/src/command.factory.ts
Due: prettier --write, eslint --ext ts

feat: redefine options passed to commander for error handling
  integration/basic/package.json
  integration/basic/src/main-error-handler.ts
  integration/basic/src/main.ts
  integration/basic/test/basic.command.spec.ts
  packages/nest-commander/src/command-factory.interface.ts
  packages/nest-commander/src/command-runner.module.ts
  packages/nest-commander/src/command-runner.service.ts
  packages/nest-commander/src/command.factory.ts
  packages/nest-commander/src/constants.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --ext ts

docs: add docs for error handler
  packages/nest-commander/README.md
Due: prettier --write

feat: add in error handler option for thrown errors at commander level
  .npmrc
  integration/basic/package.json
  integration/basic/src/main-error-handler.ts
  integration/basic/src/main.ts
  integration/basic/test/basic.command.spec.ts
  packages/nest-commander-schematics/package.json
  packages/nest-commander/README.md
  packages/nest-commander/src/command-factory.interface.ts
  packages/nest-commander/src/command-runner.module.ts
  packages/nest-commander/src/command-runner.service.ts
  packages/nest-commander/src/command.factory.ts
  packages/nest-commander/src/constants.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --ext ts

chore: add changeset for error handler
  .changeset/eight-radios-bow.md
Due: prettier --write

chore: remove unneded release details
  integration/basic/CHANGELOG.md
  integration/basic/package.json
  integration/multiple/CHANGELOG.md
  integration/multiple/package.json
  integration/pizza/CHANGELOG.md
  integration/pizza/package.json
  integration/this-command/CHANGELOG.md
  integration/this-command/package.json
  integration/this-handler/CHANGELOG.md
  integration/this-handler/package.json
  integration/with-questions/CHANGELOG.md
  integration/with-questions/package.json
  packages/nest-commander-testing/CHANGELOG.md
  packages/nest-commander-testing/package.json
Due: prettier --write

ci: allow for non-frozen lockfile
  .github/workflows/ci.yml
Due: none
