Repository jmcdo29/nest-commander: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext ts

.lintstagedrc:

{
  "*.ts": [
    "prettier --write",
    "eslint --ext ts"
  ],
  "*.{md,html,json,js}": [
    "prettier --write"
  ]
}

Deploy website - based on ee001cc584f62721a937500aea7dbef8e0235dc9
  404.html
  assets/css/styles.4bfce8c5.css
  assets/css/styles.f651a8c4.css
  assets/js/runtime~main.0359d38d.js
  assets/js/runtime~main.896871ba.js
  docs/api/index.html
  docs/executing/local/index.html
  docs/features/commander/index.html
  docs/features/factory/index.html
  docs/features/inquirer/index.html
  docs/index.html
  docs/introduction/installation/index.html
  docs/schematics/installation/index.html
  docs/schematics/usage/index.html
  docs/testing/factory/index.html
  docs/testing/installation/index.html
  index.html
Due: prettier --write

fix: update the shcematics publish directories
  .changeset/honest-berries-brush.md
  packages/nest-commander-schematics/package.json
Due: prettier --write

docs: point to commander's options documentation
  apps/docs/docs/features/commander.md
Due: prettier --write

Deploy website - based on 3e4dc6c3e6608b3188ba2a3380ca63ce405aa1d3
  404.html
  assets/js/b7dba2f3.475efc3b.js
  assets/js/b7dba2f3.75b3ef8a.js
  assets/js/runtime~main.0359d38d.js
  assets/js/runtime~main.3a53571f.js
  docs/api/index.html
  docs/executing/local/index.html
  docs/features/commander/index.html
  docs/features/factory/index.html
  docs/features/inquirer/index.html
  docs/index.html
  docs/introduction/installation/index.html
  docs/schematics/installation/index.html
  docs/schematics/usage/index.html
  docs/testing/factory/index.html
  docs/testing/installation/index.html
  index.html
Due: prettier --write

feat: add requiredOption for option metadata
  packages/nest-commander/src/command-runner.interface.ts
  packages/nest-commander/src/command-runner.service.ts
Due: prettier --write, eslint --ext ts

docs: update docs for new option metadata
  apps/docs/docs/api.md
  apps/docs/docs/features/commander.md
Due: prettier --write

chore: create changeset for minor bump
  .changeset/chatty-impalas-sin.md
Due: prettier --write

Deploy website - based on 6df8964d4768080f20c452c3e42cad7260ba888e
  404.html
  assets/js/5fbc5cf1.708bb3be.js
  assets/js/5fbc5cf1.9e48e0ee.js
  assets/js/b7dba2f3.475efc3b.js
  assets/js/b7dba2f3.d13639c7.js
  assets/js/runtime~main.3a53571f.js
  assets/js/runtime~main.43e54c7a.js
  docs/api/index.html
  docs/executing/local/index.html
  docs/features/commander/index.html
  docs/features/factory/index.html
  docs/features/inquirer/index.html
  docs/index.html
  docs/introduction/installation/index.html
  docs/schematics/installation/index.html
  docs/schematics/usage/index.html
  docs/testing/factory/index.html
  docs/testing/installation/index.html
  index.html
Due: prettier --write

chore: remove implicit dep in nx.json
  nx.json
Due: prettier --write

chore: create funding file
  .github/FUNDING.yml
Due: none

ci: set up proper release pipeline
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: set up tests for help feature and initial decorators
  integration/help-tests/src/after-after-all.command.ts
  integration/help-tests/src/after-all.command.ts
  integration/help-tests/src/after.command.ts
  integration/help-tests/src/before-after.command.ts
  integration/help-tests/src/before-all.command.ts
  integration/help-tests/src/before-before-all.command.ts
  integration/help-tests/src/before.command.ts
  integration/help-tests/src/foo.command.ts
  integration/help-tests/src/foo.module.ts
  integration/help-tests/test/help.spec.ts
  packages/nest-commander-testing/src/command-test.factory.ts
  packages/nest-commander/src/command-factory.interface.ts
  packages/nest-commander/src/command-runner.interface.ts
  packages/nest-commander/src/command-runner.module.ts
  packages/nest-commander/src/command-runner.service.ts
  packages/nest-commander/src/command.decorators.ts
  packages/nest-commander/src/constants.ts
  packages/nest-commander/src/index.ts
  packages/nest-commander/src/inquirer.service.ts
Due: prettier --write, eslint --ext ts

ci: set up release cycle to use changesets in CI again
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: prettier --write

test: help decorators covered
  integration/help-tests/test/help.spec.ts
  packages/nest-commander/src/command-runner.interface.ts
  packages/nest-commander/src/command-runner.service.ts
Due: prettier --write, eslint --ext ts

chore: minor and patch nest-commander and nest-commander-testing
  .changeset/eight-cheetahs-jump.md
Due: prettier --write

docs: add docs for new Help decorator
  apps/docs/docs/api.md
  apps/docs/docs/features/commander.md
Due: prettier --write

ci: set up ci to build packages during deploy
  .github/workflows/docs-deploy.yml
  .github/workflows/release.yml
Due: none

ci: set build command correctly
  .github/workflows/release.yml
Due: none

Deploy website - based on b0d3a262417372f145763ec1d53685dc138e8e23
  404.html
  assets/js/main.48f357a2.js
  assets/js/main.f9805c7d.js
  assets/js/main.f9805c7d.js.LICENSE.txt
  blog/archive/index.html
  docs/api/index.html
  docs/executing/local/index.html
  docs/features/commander/index.html
  docs/features/factory/index.html
  docs/features/inquirer/index.html
  docs/index.html
  docs/introduction/installation/index.html
  docs/schematics/installation/index.html
  docs/schematics/usage/index.html
  docs/tags/index.html
  docs/testing/factory/index.html
  docs/testing/installation/index.html
  index.html
Due: prettier --write

ci: run build all one time
  .github/workflows/release.yml
Due: none

ci: set build in deploy to only build affected
  .github/workflows/release.yml
Due: none

ci: stop nx agents after publish
  .github/workflows/release.yml
Due: none

ci: fix stop agents command
  .github/workflows/release.yml
Due: none

Add renovate.json
  renovate.json
Due: prettier --write

ci: update ci workflows to include renovate in bot checks
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/release.yml
Due: none

test: set up integration tests for SubCommands
  integration/sub-commands/src/bottom.command.ts
  integration/sub-commands/src/mid-1.command.ts
  integration/sub-commands/src/mid-2.command.ts
  integration/sub-commands/src/nested.module.ts
  integration/sub-commands/src/top.command.ts
  integration/sub-commands/test/sub-commands.spec.ts
Due: prettier --write, eslint --ext ts

feat: allow for sub-commands to be built and executed
  integration/sub-commands/test/sub-commands.spec.ts
  packages/nest-commander/src/command-runner.interface.ts
  packages/nest-commander/src/command-runner.service.ts
  packages/nest-commander/src/command.decorators.ts
  packages/nest-commander/src/constants.ts
Due: prettier --write, eslint --ext ts
