Repository jmcdo29/nest-commander: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext ts

docs: add docs for subcommands
  apps/docs/docs/api.md
  apps/docs/docs/features/commander.md
  integration/sub-commands/src/mid-1.command.ts
  integration/sub-commands/src/top.command.ts
  integration/sub-commands/test/sub-commands.spec.ts
  packages/nest-commander/src/command-runner.interface.ts
  packages/nest-commander/src/command-runner.service.ts
Due: prettier --write, eslint --ext ts

chore: create changeset for subcommands
  .changeset/pink-forks-smile.md
  .github/workflows/ci.yml
Due: prettier --write

test: initial tests for plugin addition
  integration/plugins/custom-name.json
  integration/plugins/nest-commander.json
  integration/plugins/src/foo.command.ts
  integration/plugins/src/foo.module.ts
  integration/plugins/src/plugin-runner.ts
  integration/plugins/src/plugin/index.ts
  integration/plugins/src/plugin/plugin.command.ts
  integration/plugins/src/plugin/plugin.module.ts
  integration/plugins/test/plugin.command.spec.ts
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write, eslint --ext ts

feat: allow for commands to be built expecting plugins
  integration/plugins/test/plugin.command.spec.ts
  packages/nest-commander/src/command-factory.interface.ts
  packages/nest-commander/src/command-root.module.ts
  packages/nest-commander/src/command-runner.module.ts
  packages/nest-commander/src/command.factory.ts
  packages/nest-commander/src/constants.ts
Due: prettier --write, eslint --ext ts

chore: cleanup from test development
  integration/plugins/src/plugin-runner.ts
  package.json
  packages/nest-commander/src/command.factory.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --ext ts

chore: remove yarn lock
  yarn.lock
Due: none

chore: add changeset file
  .changeset/big-dingos-dress.md
Due: prettier --write

ci: update ci workflows to include renovate in bot checks
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/release.yml
Due: none

test: set up integration tests for SubCommands
  integration/sub-commands/src/bottom.command.ts
  integration/sub-commands/src/mid-1.command.ts
  integration/sub-commands/src/mid-2.command.ts
  integration/sub-commands/src/nested.module.ts
  integration/sub-commands/src/top.command.ts
  integration/sub-commands/test/sub-commands.spec.ts
Due: prettier --write, eslint --ext ts

feat: allow for sub-commands to be built and executed
  integration/sub-commands/test/sub-commands.spec.ts
  packages/nest-commander/src/command-runner.interface.ts
  packages/nest-commander/src/command-runner.service.ts
  packages/nest-commander/src/command.decorators.ts
  packages/nest-commander/src/constants.ts
Due: prettier --write, eslint --ext ts

docs: plugin addition documentation
  apps/docs/docs/features/plugins.md
  apps/docs/sidebars.js
Due: prettier --write

Deploy website - based on 1f623196ac747ba3ac994ce12f247693110d75da
  404.html
  assets/js/5fbc5cf1.58e648e9.js
  assets/js/5fbc5cf1.c07094e5.js
  assets/js/643bdf2b.0cdf782c.js
  assets/js/643bdf2b.3546373e.js
  assets/js/935f2afb.603ea645.js
  assets/js/935f2afb.86740b6b.js
  assets/js/a179d50b.6553784d.js
  assets/js/a179d50b.bf784a78.js
  assets/js/b7dba2f3.9c1f4d29.js
  assets/js/b7dba2f3.d485c1c3.js
  assets/js/fbe0598c.c7412ca5.js
  assets/js/main.776f763f.js
  assets/js/main.776f763f.js.LICENSE.txt
  assets/js/main.f9805c7d.js
  assets/js/runtime~main.d879093f.js
  assets/js/runtime~main.da44f94f.js
  blog/archive/index.html
  docs/api/index.html
  docs/executing/local/index.html
  docs/features/commander/index.html
  docs/features/factory/index.html
  docs/features/inquirer/index.html
  docs/features/plugins/index.html
  docs/index.html
  docs/introduction/installation/index.html
  docs/schematics/installation/index.html
  docs/schematics/usage/index.html
  docs/tags/index.html
  docs/testing/factory/index.html
  docs/testing/installation/index.html
  index.html
  sitemap.xml
Due: prettier --write

chore(deps): pin dependencies
  package.json
  packages/nest-commander-schematics/package.json
  packages/nest-commander/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update webfactory/ssh-agent action to v0.5.3
  .github/workflows/docs-deploy.yml
Due: none

docs: add in missing api docs for CommandFactory
  apps/docs/docs/api.md
Due: prettier --write

chore(deps): update commitlint monorepo to v13
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependency @types/inquirer to v8
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependency eslint-plugin-prettier to v4
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{md,html,json,js})
  eslint --ext ts: any of: *.ts
