Repository jmcdo29/nest-commander: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext ts

.lintstagedrc:

{
  "*.ts": [
    "prettier --write",
    "eslint --ext ts"
  ],
  "*.{md,html,json,js}": [
    "prettier --write"
  ]
}

chore: create changeset for nest-commander patch
  .changeset/wicked-doors-appear.md
Due: prettier --write

chore: update dependencies of nest, nx, and remvoe docusaurus
  apps/docs/project.json
  integration/project.json
  package.json
  packages/nest-commander-schematics/project.json
  packages/nest-commander-testing/project.json
  packages/nest-commander/project.json
  pnpm-lock.yaml
  workspace.json
Due: prettier --write

fix: better set the inquirer type in the inquirer service
  package.json
  packages/nest-commander/src/inquirer.service.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --ext ts

feat: positional and passthrough options
  packages/nest-commander/src/command-factory.interface.ts
  packages/nest-commander/src/command-runner.service.ts
  packages/nest-commander/src/command.factory.ts
Due: prettier --write, eslint --ext ts

feat: positional and passthrough options
  .changeset/clean-humans-dance.md
Due: prettier --write

feat: add new method for creating pp without running
  .prettierrc
  packages/nest-commander/src/command.factory.ts
Due: prettier --write, eslint --ext ts

chore: changeset for create without running
  .changeset/new-plums-dress.md
Due: prettier --write

docs: create without running
  apps/docs/src/pages/en/features/factory.md
Due: prettier --write

feat(docs): add sitemap generation for docs
  apps/docs/astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: fix astro site config
  apps/docs/astro.config.mjs
Due: none

Update to show passing arguments to `nest start`
  apps/docs/src/pages/en/execution.md
Due: prettier --write

fix: log original error message and stack as well
  packages/nest-commander/src/command-runner.service.ts
Due: prettier --write, eslint --ext ts

chore: update code format
  apps/docs/src/config.ts
  apps/docs/src/languages.ts
  integration/basic/src/basic.command.ts
  integration/basic/test/basic.command.spec.ts
  integration/default-sub-commands/src/mid-1.command.ts
  integration/default-sub-commands/src/top.command.ts
  integration/default-sub-commands/test/default-sub-commands.spec.ts
  integration/help-tests/test/help.spec.ts
  integration/multiple/test/multiple.command.spec.ts
  integration/option-choices/src/option-choices.command.ts
  integration/option-choices/test/option-choices.spec.ts
  integration/pizza/test/pizza.command.spec.ts
  integration/plugins/test/plugin.command.spec.ts
  integration/register-provider/src/top.command.ts
  integration/register-provider/test/register-with-subcommands.spec.ts
  integration/root-command/test/root-command.spec.ts
  integration/sub-commands/src/top.command.ts
  integration/sub-commands/test/sub-commands.spec.ts
  integration/this-handler/test/this-handler.command.spec.ts
  integration/with-questions/src/hello.command.ts
  integration/with-questions/test/hello.command.spec.ts
  packages/nest-commander-schematics/src/command/index.ts
  packages/nest-commander-schematics/src/common/index.ts
  packages/nest-commander-testing/src/command-test.factory.ts
  packages/nest-commander/src/cli-utility.service.ts
  packages/nest-commander/src/command-factory.interface.ts
  packages/nest-commander/src/command-runner.interface.ts
  packages/nest-commander/src/command-runner.module.ts
  packages/nest-commander/src/command.decorators.ts
  packages/nest-commander/src/constants.ts
  packages/nest-commander/src/inquirer.service.ts
Due: prettier --write, eslint --ext ts

chore: changeset for 3.7.1
  .changeset/long-lizards-laugh.md
Due: prettier --write

Update factory.md
  apps/docs/src/pages/en/features/factory.md
Due: prettier --write

feat: add ability to pass NestApplicationContextOptions to CommandFactoryRunOptions
  packages/nest-commander/src/command-factory.interface.ts
  packages/nest-commander/src/command.factory.ts
Due: prettier --write, eslint --ext ts

Update CLI publication doc
  apps/docs/src/pages/en/execution.md
Due: prettier --write

chore: changeset for CommandFactory.createWithoutRunning() options update
  .changeset/moody-books-battle.md
Due: prettier --write

feat: support nest v 10
  package.json
  packages/nest-commander-testing/package.json
  packages/nest-commander/package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: prettier --write

chore: changeset for nest 10 support
  .changeset/strange-maps-smile.md
Due: prettier --write

feat(outputConfig): make outputConfig accessible from the command factory
  packages/nest-commander/src/command-factory.interface.ts
  packages/nest-commander/src/command-runner.service.ts
  packages/nest-commander/src/command.factory.ts
Due: prettier --write, eslint --ext ts

test(outputConfig): add integ tests
  integration/index.spec.ts
  integration/output-config/src/basic.command.ts
  integration/output-config/src/root.module.ts
  integration/output-config/test/output.config.spec.ts
  packages/nest-commander-testing/src/command-test.factory.ts
Due: prettier --write, eslint --ext ts

fix(tests): remove useless import
  integration/output-config/test/output.config.spec.ts
Due: prettier --write, eslint --ext ts

chore(changeset): add basic changeset
  .changeset/tidy-poets-turn.md
Due: prettier --write

Update packages/nest-commander-testing/src/command-test.factory.ts
  packages/nest-commander-testing/src/command-test.factory.ts
Due: prettier --write, eslint --ext ts

chore(changeset): add nest-commander-testing to changeset
  .changeset/tidy-poets-turn.md
Due: prettier --write

fix(imports): make the CommanderOptionType accessible
  packages/nest-commander/src/index.ts
Due: prettier --write, eslint --ext ts

feat(options): add the global version option
  packages/nest-commander/src/command-factory.interface.ts
  packages/nest-commander/src/command-runner.service.ts
Due: prettier --write, eslint --ext ts

test(version): add version option testssuite
  integration/index.spec.ts
  integration/version-option/src/root.module.ts
  integration/version-option/test/version.option.spec.ts
Due: prettier --write, eslint --ext ts

chore(changeset): setup changelog
  .changeset/polite-socks-develop.md
Due: prettier --write

chore(doc): update api doc
  apps/docs/src/pages/en/api.md
Due: prettier --write

Fix typo
  apps/docs/src/pages/en/api.md
Due: prettier --write
