Repository jmcdo29/nest-commander: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext ts

chore(deps): update dependency @types/inquirer to v8
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: add in missing api docs for CommandFactory
  apps/docs/docs/api.md
Due: prettier --write

chore(deps): update dependency lint-staged to v11
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependency eslint-plugin-prettier to v4
  package.json
  pnpm-lock.yaml
Due: prettier --write

Deploy website - based on 05bee0395c9d07e8876b4e685e3d7302ce4d8a2b
  404.html
  assets/js/5fbc5cf1.58e648e9.js
  assets/js/5fbc5cf1.cb7c991d.js
  assets/js/runtime~main.764836f0.js
  assets/js/runtime~main.da44f94f.js
  blog/archive/index.html
  docs/api/index.html
  docs/executing/local/index.html
  docs/features/commander/index.html
  docs/features/factory/index.html
  docs/features/inquirer/index.html
  docs/features/plugins/index.html
  docs/index.html
  docs/introduction/installation/index.html
  docs/schematics/installation/index.html
  docs/schematics/usage/index.html
  docs/tags/index.html
  docs/testing/factory/index.html
  docs/testing/installation/index.html
  index.html
Due: prettier --write

chore(deps): update react monorepo to v17
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependency husky to v7
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update nrwl/nx-set-shas action to v2
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(): add github issue forms
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/regression.yml
Due: none

chore(deps): update dependency lint-staged to v11.2.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v4.33.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update nest monorepo to v8.0.10
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(deps): update dependency inquirer to v8.2.0
  package.json
  packages/nest-commander/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update nest monorepo to v8.0.11
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(deps): update dependency rxjs to v7.4.0
  package.json
  packages/nest-commander-schematics/package.json
  pnpm-lock.yaml
Due: prettier --write

update(docs) - add more content to the introduction
  apps/docs/docs/introduction/intro.md
Due: prettier --write

Deploy website - based on d923e78b1c719b9118fddc816722c81324e4dac0
  404.html
  assets/js/01a9496d.452471f4.js
  assets/js/01a9496d.c20395ac.js
  assets/js/935f2afb.86740b6b.js
  assets/js/935f2afb.b6bb3ae4.js
  assets/js/ac68e5b7.5208c901.js
  assets/js/ac68e5b7.a5dfde88.js
  assets/js/runtime~main.b2f0d446.js
  assets/js/runtime~main.e586e6a4.js
  blog/archive/index.html
  docs/api/index.html
  docs/executing/local/index.html
  docs/features/commander/index.html
  docs/features/factory/index.html
  docs/features/inquirer/index.html
  docs/features/plugins/index.html
  docs/index.html
  docs/introduction/installation/index.html
  docs/schematics/installation/index.html
  docs/schematics/usage/index.html
  docs/tags/index.html
  docs/testing/factory/index.html
  docs/testing/installation/index.html
  index.html
Due: prettier --write

chore(deps): update nrwl monorepo to v12.10.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update actions/setup-node action to v2
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/release.yml
Due: none

chore(deps): update dependency terser to v5
  package.json
  pnpm-lock.yaml
Due: prettier --write

Revert "chore(deps): update dependency terser to v5"
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: clean up ci workflows
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/release.yml
Due: none

fix: make plugins not exit if config file not found
  integration/plugins/test/plugin.command.spec.ts
  packages/nest-commander/src/command-factory.interface.ts
  packages/nest-commander/src/command-runner.service.ts
  packages/nest-commander/src/command.factory.ts
Due: prettier --write, eslint --ext ts

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{md,html,json,js})
  eslint --ext ts: any of: *.ts
