Repository jmcdo29/nest-commander: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext ts

.lintstagedrc:

{
  "*.ts": [
    "prettier --write",
    "eslint --ext ts"
  ],
  "*.{md,html,json,js}": [
    "prettier --write"
  ]
}

chore: update nestjs schematics
  package.json
  packages/nest-commander-schematics/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: fix failing build
  apps/docs/.astro/types.d.ts
  apps/docs/src/env.d.ts
  packages/nest-commander/tsconfig.build.json
Due: prettier --write, eslint --ext ts

chore: update to nx-cloud latest 16
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade nx to 20 and swap nrwl for nx packages
  .gitignore
  migrations.json
  nx.json
  package.json
  packages/nest-commander-schematics/project.json
  packages/nest-commander-testing/project.json
  packages/nest-commander/project.json
  pnpm-lock.yaml
Due: prettier --write

Ensure app is closed using try/finally
  packages/nest-commander/src/command.factory.ts
Due: prettier --write, eslint --ext ts

chore: upgrade to NestJS 11 and @angular-devkit 19
  package.json
  packages/nest-commander-schematics/package.json
  packages/nest-commander-testing/package.json
  packages/nest-commander/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add changeset
  .changeset/mighty-mangos-smell.md
Due: prettier --write

Revert "chore(deps): update dependency @nestjs/core to v10.4.15"
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade to @nestjs/core to v11
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: support dynamic modules in `CommandFactory`
  .changeset/soft-geckos-know.md
  apps/docs/src/pages/en/api.md
  packages/nest-commander/src/command.factory.ts
Due: prettier --write, eslint --ext ts

feat: create options for excess args and unknown options for commands
  packages/nest-commander/src/command-runner.interface.ts
  packages/nest-commander/src/command-runner.service.ts
Due: prettier --write, eslint --ext ts

chore: changeset for unknown options
  .changeset/cold-eggs-collect.md
Due: prettier --write

Update api reference link from '../api' to '../api.md'
  apps/docs/src/pages/en/features/inquirer.md
Due: prettier --write

feat(nest-commander-testing): Allow command options to be passed to run function
  packages/nest-commander-testing/src/command-test.factory.ts
Due: prettier --write, eslint --ext ts

chore: upgrade @golevelup/nestjs-discovery from 4.0.3 to 5.0.0
  .changeset/seven-dancers-dream.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update apps/docs/src/pages/en/features/inquirer.md
  apps/docs/src/pages/en/features/inquirer.md
Due: prettier --write

chore: fix author script and run installs
  apps/docs/.astro/content-assets.mjs
  apps/docs/.astro/content-modules.mjs
  apps/docs/.astro/content.d.ts
  apps/docs/.astro/types.d.ts
  apps/docs/src/components/Footer/AvatarList.astro
Due: prettier --write, eslint --ext ts

chore: update husky scripts
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: create changeset for inquirer cve
  .changeset/flat-hounds-hang.md
Due: prettier --write

feat: turn Help partial for helpConfiguration option
  packages/nest-commander/src/command-factory.interface.ts
Due: prettier --write, eslint --ext ts

chore: add changeset
  .changeset/shaggy-pans-yawn.md
Due: prettier --write

chore: upgrade @golevelup/nestjs-discovery from 4.0.3 to 5.0.0 (for real this time)
  .changeset/friendly-ears-scream.md
  packages/nest-commander/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: set correct relative path to package in repository
  .changeset/five-comics-add.md
  packages/nest-commander-testing/package.json
  packages/nest-commander/package.json
Due: prettier --write

feat: add @Options<T[]> decorator for variadic options with array defaults
  .changeset/add-options-decorator.md
  integration/index.spec.ts
  integration/variadic-option/src/variadic-option.command.ts
  integration/variadic-option/src/variadic-option.module.ts
  integration/variadic-option/test/variadic-option.spec.ts
  packages/nest-commander/src/command-runner.interface.ts
  packages/nest-commander/src/command-runner.service.ts
  packages/nest-commander/src/command.decorators.ts
  packages/nest-commander/src/constants.ts
Due: prettier --write, eslint --ext ts

ci: update release.yml to handle trusted publishing
  .github/workflows/release.yml
  .tool-versions
Due: none

chore: upgrade to NestJS 12 and @angular-devkit 22
  .changeset/twelve-otters-cheer.md
  .github/actions/setup/action.yml
  .github/workflows/docs-deploy.yml
  integration/this-command/src/this-command.module.ts
  integration/this-handler/src/this-handler.module.ts
  package.json
  packages/nest-commander-schematics/package.json
  packages/nest-commander-schematics/src/question/question-options.interface.ts
  packages/nest-commander-schematics/tsconfig.build.json
  packages/nest-commander-testing/package.json
  packages/nest-commander/package.json
  packages/nest-commander/src/command.factory.ts
  packages/nest-commander/src/completion.factory.ts
  pnpm-lock.yaml
  tsconfig.base.json
Due: prettier --write, eslint --ext ts

fix: regenerate lockfile with pnpm 9 to restore overrides section
  pnpm-lock.yaml
Due: none
