Repository jmcdo29/nest-commander: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext ts

chore: bump nest-commander
  .changeset/clean-phones-behave.md
Due: prettier --write

docs: update docs to match functionality
  apps/docs/docs/features/plugins.md
Due: prettier --write

chore(deps): update dependency @commitlint/cli to v13.2.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependency lint-staged to v11.2.2
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(deps): update angular-cli monorepo to v12.2.9
  package.json
  packages/nest-commander-schematics/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: change the error message for not found config file
  integration/plugins/test/plugin.command.spec.ts
  packages/nest-commander/src/constants.ts
Due: prettier --write, eslint --ext ts

fix: make plugins not exit if config file not found
  integration/plugins/test/plugin.command.spec.ts
  packages/nest-commander/src/command-factory.interface.ts
  packages/nest-commander/src/command-runner.service.ts
  packages/nest-commander/src/command.factory.ts
Due: prettier --write, eslint --ext ts

ci: clean up ci workflows
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/release.yml
Due: none

ci: set file change check to right value
  .github/workflows/docs-deploy.yml
Due: none

chore: create a code of conduct file
  CODE_OF_CONDUCT.md
Due: prettier --write

chore: add contributng file and update package scripts
  .github/workflows/ci.yml
  CONTRIBUTING.md
  package.json
Due: prettier --write

chore: add note about rebasing
  CONTRIBUTING.md
Due: prettier --write

chore(deps): update dependency lint-staged to v11.2.3
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: move plugin error code to onModuleInit
  integration/plugins/src/foo.command.ts
  packages/nest-commander/src/command-runner.service.ts
Due: prettier --write, eslint --ext ts

fix: improve syntax
  packages/nest-commander/src/command-runner.service.ts
Due: prettier --write, eslint --ext ts

update: add changeset
  .changeset/sharp-owls-agree.md
Due: prettier --write

chore: change bump from minor to patch
  .changeset/sharp-owls-agree.md
Due: prettier --write

fix: add test and change so missing config file warning doesn't show
  integration/plugins/test/plugin.command.spec.ts
  packages/nest-commander/src/command-factory.interface.ts
  packages/nest-commander/src/command-runner.service.ts
  packages/nest-commander/src/command.factory.ts
  packages/nest-commander/src/constants.ts
Due: prettier --write, eslint --ext ts

fix: style changes and changeset settings change
  .changeset/sharp-owls-agree.md
  packages/nest-commander/src/command-runner.service.ts
  packages/nest-commander/src/command.factory.ts
Due: prettier --write, eslint --ext ts

chore: clean up publish message and merge conflicts
  .changeset/sharp-owls-agree.md
  integration/plugins/src/foo.command.ts
  packages/nest-commander/src/command-runner.service.ts
Due: prettier --write, eslint --ext ts

chore: add nx token and clean up codebeat reports
  apps/docs/src/pages/index.js
  nx.json
  packages/nest-commander/src/command-factory.interface.ts
  packages/nest-commander/src/command-runner.service.ts
  packages/nest-commander/src/command.decorators.ts
  packages/nest-commander/src/command.factory.ts
  tmp/packages/nest-commander-schematics/src/command/schema.json
  tmp/packages/nest-commander-schematics/src/question/schema.json
Due: prettier --write, eslint --ext ts

chore: add a semicolon
  packages/nest-commander/src/constants.ts
Due: prettier --write, eslint --ext ts

chore(deps): update typescript-eslint monorepo to v5
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependency eslint to v8
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{md,html,json,js})
  eslint --ext ts: any of: *.ts
