Repository jmcdo29/nest-commander: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext ts

.lintstagedrc:

{
  "*.ts": [
    "prettier --write",
    "eslint --ext ts"
  ],
  "*.{md,html,json,js}": [
    "prettier --write"
  ]
}

chore: remove unneded release details
  integration/basic/CHANGELOG.md
  integration/basic/package.json
  integration/multiple/CHANGELOG.md
  integration/multiple/package.json
  integration/pizza/CHANGELOG.md
  integration/pizza/package.json
  integration/this-command/CHANGELOG.md
  integration/this-command/package.json
  integration/this-handler/CHANGELOG.md
  integration/this-handler/package.json
  integration/with-questions/CHANGELOG.md
  integration/with-questions/package.json
  packages/nest-commander-testing/CHANGELOG.md
  packages/nest-commander-testing/package.json
Due: prettier --write

ci: allow for frozen lockfile on release workflow
  .github/workflows/release.yml
Due: none

feat: allow for running command without auto-close
  packages/nest-commander/src/command.factory.ts
Due: prettier --write, eslint --ext ts

chore: setup nx workspace
  integration/basic/package.json
  integration/basic/test/basic.command.spec.ts
  integration/multiple/package.json
  integration/pizza/package.json
  integration/this-command/package.json
  integration/this-handler/package.json
  integration/with-questions/package.json
  jest.integration.config.js
  package.json
  packages/nest-commander-testing/package.json
  packages/nest-commander/package.json
  packages/nest-commander/src/command.factory.ts
  packages/nest-commander/tsconfig.build.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.json
  tsconfig.test.json
  workspace.json
Due: prettier --write, eslint --ext ts

chore: more nx config stuff
  package.json
  packages/nest-commander-testing/tsconfig.build.json
  packages/nest-commander/package.json
  packages/nest-commander/tsconfig.build.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: setup nx without exposing token
  .github/workflows/ci.yml
  .gitignore
  nx.json
Due: prettier --write

docs: feature and installation docs complete
  apps/docs/docs/api.md
  apps/docs/docs/features/commander.md
  apps/docs/docs/features/factory.md
  apps/docs/docs/features/inquirer.md
  apps/docs/docs/introduction/installation.md
  apps/docs/sidebars.js
Due: prettier --write

docs: add docs for schematics
  apps/docs/docs/schematics/installation.md
  apps/docs/docs/schematics/usage.md
Due: prettier --write

docs: adds testing docs
  apps/docs/docs/testing/factory.md
  apps/docs/docs/testing/installation.md
  apps/docs/docusaurus.config.js
  apps/docs/src/pages/index.js
  apps/docs/static/img/favicon.ico
  apps/docs/static/img/nest-commander-final.svg
  apps/docs/static/img/nest-commander.png
Due: prettier --write

docs: set up dark mode and add execution docs
  apps/docs/docs/executing/local.md
  apps/docs/docs/executing/nest-cli.md
  apps/docs/docs/executing/npm.md
  apps/docs/docs/executing/ts-node.md
  apps/docs/docusaurus.config.js
  apps/docs/sidebars.js
  apps/docs/src/css/custom.css
Due: prettier --write

docs: api docs created
  apps/docs/docs/api.md
Due: prettier --write

chore: set up some docs deployment configs
  apps/docs/docs/doc1.md
  apps/docs/docs/doc2.md
  apps/docs/docs/doc3.md
  apps/docs/docs/mdx.md
  apps/docs/docusaurus.config.js
  apps/docs/static/.nojekyll
  apps/docs/static/img/logo.svg
  apps/docs/static/img/undraw_docusaurus_mountain.svg
  apps/docs/static/img/undraw_docusaurus_react.svg
  apps/docs/static/img/undraw_docusaurus_tree.svg
  workspace.json
Due: prettier --write

chore: update packages
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  integration/basic/src/basic.command.ts
  integration/basic/src/main.ts
  integration/multiple/src/bar.command.ts
  integration/pizza/src/pizza.question.ts
  integration/with-questions/src/hello.command.ts
  integration/with-questions/src/hello.interface.ts
  integration/with-questions/src/who.question.ts
  integration/with-questions/test/hello.command.spec.ts
  package.json
  packages/nest-commander/package.json
  pnpm-lock.yaml
  workspace.json
Due: prettier --write, eslint --ext ts

ci: update test method
  .github/workflows/ci.yml
Due: none

chore: update failing build on commander 8 and jest conf
  jest.integration.config.js
  packages/nest-commander/src/command-runner.service.ts
Due: prettier --write, eslint --ext ts

ci: don't cache integration tests
  .github/workflows/ci.yml
Due: none

docs: fix baseUrl
  apps/docs/docusaurus.config.js
Due: prettier --write

ci: fix jobs context syntax
  .github/workflows/docs-deploy.yml
Due: none

ci: tell nx agent to stop
  .github/workflows/ci.yml
Due: none

ci: use needs to get the previous jobs output
  .github/workflows/docs-deploy.yml
Due: none
