Repository jmcdo29/nest-commander: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext ts

chore(deps): update typescript-eslint monorepo to v5.10.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update nrwl monorepo to v13.5.2
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update nrwl monorepo to v13.5.3
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependency lint-staged to v12.3.2
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update nrwl monorepo to v13.6.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update nrwl monorepo to v13.6.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependency @types/inquirer to v8.2.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependency eslint to v8.8.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update nrwl monorepo to v13.7.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update nrwl monorepo to v13.7.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: add docs about the new service and decorator
  apps/docs/docs/api.md
  apps/docs/docs/features/commander.md
  apps/docs/docs/features/utility.md
Due: prettier --write

docs: add templte strings for new types
  apps/docs/docs/api.md
Due: prettier --write

fix: add cli-utility.service to exports
  packages/nest-commander/src/index.ts
Due: prettier --write, eslint --ext ts

chore: add changeset for new version
  .changeset/eight-masks-divide.md
Due: prettier --write

feat: adds utility service and access to commander
  packages/nest-commander/src/cli-utility.service.ts
  packages/nest-commander/src/command-runner.module.ts
  packages/nest-commander/src/command-runner.service.ts
  packages/nest-commander/src/command.decorators.ts
Due: prettier --write, eslint --ext ts

ci: test out ternary for env variable
  .github/workflows/ci.yml
Due: none

chore(deps): update typescript-eslint monorepo to v5.10.2
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: create reusable setup action
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/release.yml
Due: none

ci: set cahngesets action to correct version
  .github/workflows/release.yml
Due: none

feat: noop
  packages/nest-commander/src/index.ts
Due: prettier --write, eslint --ext ts

ci: test pr checkout without ref
  .github/workflows/ci.yml
Due: none

refactor: noop
  packages/nest-commander/src/index.ts
Due: prettier --write, eslint --ext ts

chore(deps): update dependency @types/node to v16.11.22
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependency lint-staged to v12.3.3
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{md,html,json,js})
  eslint --ext ts: any of: *.ts
