Repository jmcdo29/nest-commander: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext ts

.lintstagedrc:

{
  "*.ts": [
    "prettier --write",
    "eslint --ext ts"
  ],
  "*.{md,html,json,js}": [
    "prettier --write"
  ]
}

chore(deps): update dependency eslint to v8
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: set output for doc deploy properly
  .github/workflows/docs-deploy.yml
Due: none

ci: standardize the methods and pmpn usage
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/release.yml
  package.json
Due: prettier --write

docs: make react function shorter
  apps/docs/src/pages/index.js
Due: prettier --write

docs: update copyright
  apps/docs/docusaurus.config.js
Due: prettier --write

ci: set output properly
  .github/workflows/docs-deploy.yml
Due: none

Deploy website - based on 5feea1a84f6a8b9d4a7b4e6c5cff83b94e8595e9
  404.html
  assets/js/c4f5d8e4.abb181ab.js
  assets/js/c4f5d8e4.e6ca1a35.js
  assets/js/fbe0598c.25b3b449.js
  assets/js/fbe0598c.95b00447.js
  assets/js/main.de85b62b.js
  assets/js/main.dfd1ab52.js
  assets/js/main.dfd1ab52.js.LICENSE.txt
  assets/js/runtime~main.30ea0064.js
  assets/js/runtime~main.b2f0d446.js
  blog/archive/index.html
  docs/api/index.html
  docs/executing/local/index.html
  docs/features/commander/index.html
  docs/features/factory/index.html
  docs/features/inquirer/index.html
  docs/features/plugins/index.html
  docs/index.html
  docs/introduction/installation/index.html
  docs/schematics/installation/index.html
  docs/schematics/usage/index.html
  docs/tags/index.html
  docs/testing/factory/index.html
  docs/testing/installation/index.html
  index.html
Due: prettier --write

ci: finalize pnpm standardized changes
  .github/workflows/release.yml
Due: none

docs: added logo nest commander
  README.md
Due: prettier --write

fix(deps): update dependency typescript to v4.4.4
  package.json
  packages/nest-commander-schematics/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update nest monorepo to v8.1.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependency eslint to v8.0.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update nest monorepo to v8.1.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update docusaurus monorepo to v2.0.0-beta.7
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs(): update readme and license
  LICENSE
  README.md
Due: prettier --write

feat: add ability to resolve packaged commands with tests
  integration/plugins/fixtures/plugin-app/package.json
  integration/plugins/fixtures/plugin-app/src/index.ts
  integration/plugins/fixtures/plugin-app/src/plugin.command.ts
  integration/plugins/fixtures/plugin-app/src/plugin.module.ts
  integration/plugins/fixtures/plugin-app/tsconfig.json
  integration/plugins/fixtures/plugin-app/yarn.lock
  integration/plugins/fixtures/test-app1/custom-name.json
  integration/plugins/fixtures/test-app1/package.json
  integration/plugins/fixtures/test-app1/src/app.module.ts
  integration/plugins/fixtures/test-app1/src/main.ts
  integration/plugins/fixtures/test-app1/src/plugins/index.ts
  integration/plugins/fixtures/test-app1/src/plugins/plugin.command.ts
  integration/plugins/fixtures/test-app1/src/plugins/plugin.module.ts
  integration/plugins/fixtures/test-app1/tsconfig.json
  integration/plugins/fixtures/test-app1/yarn.lock
  integration/plugins/fixtures/test-app2/custom-name.json
  integration/plugins/fixtures/test-app2/package.json
  integration/plugins/fixtures/test-app2/src/app.module.ts
  integration/plugins/fixtures/test-app2/src/main.ts
  integration/plugins/fixtures/test-app2/tsconfig.json
  integration/plugins/fixtures/test-app2/yarn.lock
  integration/plugins/fixtures/test-cli/package.json
  integration/plugins/fixtures/test-cli/src/common/log.service.ts
  integration/plugins/fixtures/test-cli/src/foo.command.ts
  integration/plugins/fixtures/test-cli/src/foo.module.ts
  integration/plugins/fixtures/test-cli/src/main.ts
  integration/plugins/fixtures/test-cli/tsconfig.json
  integration/plugins/fixtures/test-cli/yarn.lock
  integration/plugins/test/plugin2.command.spec.ts
  packages/nest-commander/src/command.factory.ts
Due: prettier --write, eslint --ext ts

fix: updates ci.yml
  .github/workflows/ci.yml
Due: none

chore(deps): update dependency @nestjs/cli to v8.1.4
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v5.1.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

Typos
  apps/docs/docs/features/commander.md
Due: prettier --write

feat: create new option for command to be non-executable
  .github/workflows/ci.yml
  packages/nest-commander/src/command-runner.interface.ts
  packages/nest-commander/src/command-runner.service.ts
Due: prettier --write, eslint --ext ts

test: adds tests for non-executable parent command
  integration/sub-commands/src/nested.module.ts
  integration/sub-commands/src/non.command.ts
  integration/sub-commands/test/sub-commands.spec.ts
Due: prettier --write, eslint --ext ts

docs: adds docs for non-executable parent command
  apps/docs/docs/features/commander.md
Due: prettier --write

docs: add api docs for executable
  apps/docs/docs/api.md
Due: prettier --write
