Repository jmcdo29/nest-commander: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext ts

Fix typo
  apps/docs/src/pages/en/features/commander.md
Due: prettier --write

Fix typo
  apps/docs/src/pages/en/api.md
Due: prettier --write

fix: re-throw error regardless if it is a reading undefined error
  packages/nest-commander/src/command-runner.service.ts
Due: prettier --write, eslint --ext ts

chore: changeset for nest-commander patch
  .changeset/happy-rules-work.md
Due: prettier --write

feat: support completion factory for bash and zsh shells
  packages/nest-commander/src/completion.factory.ts
  packages/nest-commander/src/constants.ts
  packages/nest-commander/src/index.ts
Due: prettier --write, eslint --ext ts

bump up version
  .changeset/nine-keys-shake.md
Due: prettier --write

fix: cr
  packages/nest-commander/src/completion.factory.ts
Due: prettier --write, eslint --ext ts

fix: ts-ignore => ts-expect-error
  packages/nest-commander/src/completion.factory.ts
Due: prettier --write, eslint --ext ts

chore: add docs for the new completion feature
  apps/docs/src/config.ts
  apps/docs/src/pages/en/features/completion.md
Due: prettier --write, eslint --ext ts

feat: support for fig completion
  apps/docs/src/pages/en/features/completion.md
  packages/nest-commander/package.json
  packages/nest-commander/src/completion.factory.interface.ts
  packages/nest-commander/src/completion.factory.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --ext ts

fix: cr, update readme
  apps/docs/src/pages/en/features/completion.md
  packages/nest-commander/src/completion.factory.interface.ts
  packages/nest-commander/src/completion.factory.ts
Due: prettier --write, eslint --ext ts

fix: change import of types to import type
  packages/nest-commander/src/completion.factory.ts
Due: prettier --write, eslint --ext ts

fix: add completion options under main commandFactory namespace
  apps/docs/src/pages/en/features/completion.md
  packages/nest-commander/src/command-factory.interface.ts
  packages/nest-commander/src/command.factory.ts
Due: prettier --write, eslint --ext ts

chore: change patch to a minor change
  .changeset/nine-keys-shake.md
Due: prettier --write

fix: readme changes, explain over zsh issues
  apps/docs/src/pages/en/features/completion.md
Due: prettier --write

fix: use the name passed to the options decorator for the name passed to the command
  .changeset/kind-turkeys-type.md
  integration/option-choices/src/option-choices.command.ts
  integration/option-choices/test/option-choices.spec.ts
  packages/nest-commander/src/command-runner.service.ts
Due: prettier --write, eslint --ext ts

fix: handle dashed properties
  .changeset/forty-taxis-guess.md
  packages/nest-commander/src/command-runner.service.ts
Due: prettier --write, eslint --ext ts

fix(@fig/complete-commander): update to 3.0.0
  .changeset/cyan-chicken-yell.md
  packages/nest-commander/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update commander version
  .changeset/red-parents-end.md
  packages/nest-commander/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: move the fig complete import to an optional require
  .changeset/stale-pillows-talk.md
  packages/nest-commander/src/completion.factory.ts
Due: prettier --write, eslint --ext ts

docs(execution): fix 'kick off' typo
  apps/docs/src/pages/en/execution.md
Due: prettier --write

docs(features/completion): remove duplicate 'the'
  apps/docs/src/pages/en/features/completion.md
Due: prettier --write

docs(features/commander): fix 'interfere' typo
  apps/docs/src/pages/en/features/commander.md
Due: prettier --write

update broken link for basic.command test example
  packages/nest-commander-testing/README.md
Due: prettier --write

Update usage.md
  apps/docs/src/pages/en/schematics/usage.md
Due: prettier --write

feat: add optional support for filesystem autocompletion
  .changeset/ten-rivers-fold.md
  packages/nest-commander/src/constants.ts
Due: prettier --write, eslint --ext ts

feat: add option for help configuration
  .changeset/twelve-rabbits-nail.md
  packages/nest-commander/src/command-factory.interface.ts
  packages/nest-commander/src/command-runner.service.ts
  packages/nest-commander/src/command.factory.ts
Due: prettier --write, eslint --ext ts

feat: re-throw error in default serviceErrorHandler
  packages/nest-commander/src/command-runner.service.ts
Due: prettier --write, eslint --ext ts

chore: run lint on ci yml files and update pnpm to v8
  .github/actions/lint-build-test/action.yml
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: update pnpm setup version
  .github/actions/setup/action.yml
Due: none

chore: update node to v20
  .github/actions/setup/action.yml
  .github/workflows/docs-deploy.yml
Due: none

chore: force reflect-metadata version
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove -y from pnpx
  .github/actions/lint-build-test/action.yml
Due: none

feat: allow async `serviceErrorHandler` method
  .changeset/late-snakes-join.md
  packages/nest-commander/src/command-factory.interface.ts
  packages/nest-commander/src/command-runner.service.ts
Due: prettier --write, eslint --ext ts

fix: publish schematics
  .github/actions/setup/action.yml
  packages/nest-commander-schematics/project.json
  pnpm-lock.yaml
Due: prettier --write

chore: changeset for 3.0.1
  .changeset/violet-jokes-shave.md
Due: prettier --write

chore: update angular devkit
  package.json
  packages/nest-commander-schematics/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: changeset for 3.0.2
  .changeset/hungry-garlics-shave.md
Due: prettier --write

chore: run pnpm install
  pnpm-lock.yaml
Due: none

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{md,html,json,js})
  eslint --ext ts: any of: *.ts
