Repository jmcdo29/nest-commander: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext ts

feat: upgrade commander to v9
  integration/basic/test/basic.command.spec.ts
  package.json
  packages/nest-commander/package.json
  packages/nest-commander/src/command-runner.service.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --ext ts

chore: update dependency to nest v9 and add package information to package.jsons
  package.json
Due: prettier --write

chore: update dependency to nest v9 and add package information to package.jsons
  package.json
  packages/nest-commander-schematics/package.json
  packages/nest-commander-testing/package.json
  packages/nest-commander/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: nest commander and testing minor bump cahngeset
  .changeset/moody-hats-ring.md
Due: prettier --write

fix: ensure parse method is called when there are static options
  integration/option-choices/src/option-choices.command.ts
  integration/option-choices/test/option-choices.spec.ts
  packages/nest-commander/src/command-runner.service.ts
Due: prettier --write, eslint --ext ts

chore: clean up unnecessary test code
  integration/option-choices/test/option-choices.spec.ts
Due: prettier --write, eslint --ext ts

feat: add setting method for protected class member "command"
  integration/basic/src/basic.command.ts
  integration/dot-command/src/dot.command.ts
  integration/dot-command/src/dot.module.ts
  integration/dot-command/test/dot.command.spec.ts
  integration/help-tests/src/after-after-all.command.ts
  integration/help-tests/src/after-all.command.ts
  integration/help-tests/src/after.command.ts
  integration/help-tests/src/before-after.command.ts
  integration/help-tests/src/before-all.command.ts
  integration/help-tests/src/before-before-all.command.ts
  integration/help-tests/src/before.command.ts
  integration/help-tests/src/foo.command.ts
  integration/index.spec.ts
  integration/multiple/src/bar.command.ts
  integration/multiple/src/foo.command.ts
  integration/option-choices/src/option-choices.command.ts
  integration/pizza/src/pizza.command.ts
  integration/plugins/src/foo.command.ts
  integration/plugins/src/plugin/plugin.command.ts
  integration/sub-commands/src/bottom.command.ts
  integration/sub-commands/src/mid-1.command.ts
  integration/sub-commands/src/mid-2.command.ts
  integration/sub-commands/src/top.command.ts
  integration/this-command/src/this-command.command.ts
  integration/this-handler/src/this-handler.command.ts
  integration/with-questions/src/hello.command.ts
  packages/nest-commander/src/command-runner.interface.ts
  packages/nest-commander/src/command-runner.service.ts
Due: prettier --write, eslint --ext ts

chore: nest commander schematic major changeset
  .changeset/forty-hotels-shop.md
Due: prettier --write

chore: commander upgrade changeset
  .changeset/red-trains-speak.md
Due: prettier --write

feat: add setting method for protected class member "command"
  packages/nest-commander/src/command-runner.interface.ts
Due: prettier --write, eslint --ext ts

chore: set angular schematics versions correctly
  package.json
  packages/nest-commander-schematics/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: changeset for fixing 522
  .changeset/good-otters-reply.md
Due: prettier --write

docs: update docs for 3.0.0
  apps/docs/docs/features/commander.md
  apps/docs/docs/features/inquirer.md
  apps/docs/docs/features/plugins.md
Due: prettier --write

chore: changeset for nest-commander 3.0.0
  .changeset/itchy-ads-nail.md
  packages/nest-commander-testing/package.json
Due: prettier --write

typo(doc): add imports and fix typo in example
  apps/docs/docs/features/commander.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

fix typo
  apps/docs/docs/schematics/usage.md
Due: prettier --write

docs(typo): fix typo
  .changeset/eleven-coats-compete.md
Due: prettier --write

Update .changeset/eleven-coats-compete.md
  .changeset/eleven-coats-compete.md
Due: prettier --write

feat: update command schematic to nest-commander 3.0.0
  packages/nest-commander-schematics/src/command/files/with-questions/__name@dasherize__.command.ts.template
  packages/nest-commander-schematics/src/command/files/without-questions/__name@dasherize__.command.ts.template
Due: none

chore: update nx build method for scheamtics
  workspace.json
Due: prettier --write

chore: changeset bump for schematics package
  .changeset/smart-keys-cheat.md
Due: prettier --write

chore: add changeset for testing 3.0.1
  .changeset/green-spiders-glow.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{md,html,json,js})
  eslint --ext ts: any of: *.ts
